extends layouts/main
include mixins/videoBlock

block content
    .user-profile
        .user-profile__header
            if user.avatarUrl.match(/https?:\/\//)
                img.u-avatar(src=user.avatarUrl)
            else
                img.u-avatar(src=`/${user.avatarUrl}`)
            h4.profile__username=user.name
        if loggedUser && user.id === loggedUser.id
            .user-profile__btns
                a(href=routes.users + routes.editProfile)
                    button Edit Profile
                a(href=routes.users + routes.changePassword)
                    button Change Password
        .home-videos
            each video in user.videos
                +videoBlock(video)